{% extends "global/Page.html" %}
{% block title %}Comprehension Check Failed{% endblock %}

{% block content %}
<h3>Unfortunately, you are not eligible to continue</h3>

<p>Thank you for your time. Based on your responses to the comprehension questions, it appears that key information about the study was not understood.</p>

<p>For data quality reasons, we cannot allow participants to continue unless they understand the study details.</p>

<p>Please return the study on Prolific. You will not be penalized.</p>
{% endblock %}
